<div class="w-1/4 mb-10 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="w-full h-48 bg-cover bg-center rounded-md mb-1" style="background-image: url({{room.get_first_photo}})" ></div>
        <div class="flex justify-between mb-1 truncate">
            <div class="w-4/5 overflow-hidden flex">
                {% if room.host.superhost %}
                    <span class="mr-2 uppercase font-semibold text-xs text-black border border-black rounded py-0.5 px-1.5">superhost</span>
                {% endif %}                
                <span class="text-sm block truncate">{{room.city}} {{room.country.name}} </span>
            </div>
            <span class="text-sm flex items-center">
                <i class="fas fa-star text-red-500  mr-1"></i>
                <span class="">{{room.get_total_rating}}</span>
            </span>
        </div>
        <span class="text-black w-11/12 block truncate">
            {{room.name}}
        </span>
    </a>
</div>
