{% load has_favs %}

<ul class="flex items-center text-sm font-medium h-full"> 
    {% if user.is_authenticated %}
    {% if request.session.is_hosting %}
        <li class="nav_link"><a href="{% url 'rooms:create' %}">Create Room</a></li>
    {% endif %}
    <li class="nav_link">
        <a href="{% url 'users:hosting-switch' %}">
        {% if request.session.is_hosting %}
            Stop hosting
        {% else %}
            Start hosting
        {% endif %}
        </a>
    </li>
    {% has_favs as has_favs_boolean %}
    <li class="nav_link"><a href="{% url 'lists:favs' %}">Favs {% if has_favs_boolean %}({{user.list.rooms.count}}){% endif %}</a></li>
    <li class="nav_link"><a href="{{user.get_absolute_url}}">Profile</a></li>
    <li class="nav_link"><a href="{% url 'users:logout' %}">Logout</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url 'users:login' %}">Login</a></li>
        <li class="nav_link"><a href="{% url 'users:join' %}">Join</a></li>
    {% endif %}        
</ul>