{% extends 'base.html' %}

{% block page_title %}
    Room List
{% endblock page_title %}

{% block contents %}

<div>
    {% for room in object_list %}
        <div>
            <a href="{% url 'rooms:detail' room.pk %}">
                {{room}}
            </a>
        </div>
    {% endfor %}
</div>

<div>    
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
</div>
    
        
{% endblock contents %}
    

