{% extends 'base.html' %}

{% block page_title %}
    {{room}} Update
{% endblock page_title %}

{% block search-bar %}    
{% endblock search-bar %}    

{% block contents %}

    <div class="res_box">
        {% include 'mixins/rooms/room_input.html' with form=form submit_name="Update" %}

        <div class="mt-5">
            <a href="{% url 'rooms:photos' room.pk %}" class="text-blue-500 font-medium hover:text-blue-700">Edit Photos</a>
        </div>
    </div>
{% endblock contents %}
    

