{% extends 'base.html' %}

{% block page_title %}
    {{user.first_name}}'s Favourites
{% endblock page_title %}

{% block contents %}

    <div class="container mx-auto flex flex-col">
        <span class="block text-center text-gray-600 text-3xl font-semibold">My Favourtie Rooms</span>
        <div class="w-full flex flex-wrap mx-auto mt-10">
            {% for room in user.list.rooms.all %}
                {% include 'mixins/rooms/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>    
{% endblock contents %}
    