{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %} | Airbnb</title>
  </head>
  <body class="text-gray-800 mt-24">
    <header class="container max-w-full flex items-center justify-between px-4 h-16 border-b border-gray-400 fixed inset-0 bg-white">
      <div class="flex items-center">
        <a class="flex items-center mr-5" href="/">
          <img class="w-6" src="{% static 'icons/airbnb_001.png' %}" alt="logo">
          <span class="text-base ml-2 font-bold text-red-500">earbnb</span>
        </a>      
        {% block search-bar %}
        <form class="w-9/12" action="{% url 'rooms:search' %}" method="get">
          <input class="search-box w-full text-sm text-gray-900 placeholder-gray-400 font-medium border rounded-md px-3 py-1 shadow-md hover:shadow-lg focus:outline-none" name="city" placeholder="Search By City">
        </form>
        {% endblock search-bar %}        
      </div>
      {% include 'partials/nav.html' %}
    </header>
    
    {% block contents %}
    {% endblock contents %}
    
    {% include 'partials/footer.html' %}
  </body>
</html>
