{% extends 'base.html' %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block search-bar %}    
{% endblock search-bar %}    

{% block contents %}

    <div class="res_box">        
        {% include 'partials/social_login.html' %}
        
        {% include 'mixins/auth/auth_form.html' with form=form submit_name="Join" %}

        <div class="mt-5">            
            <span>Have an account?</span>
            <a href="{% url 'users:login' %}" class="text-blue-500 font-semibold">Login</a>
        </div>
    </div>
{% endblock contents %}
    

